[commands]
#  What kind of upgrade to perform:
# default                            = all available upgrades
# security                           = only the security upgrades
upgrade_type = {{ dnf_automatic_upgrade_type | default('default') }}
random_sleep = {{ dnf_automatic_random_sleep | default('0') }}

# To just receive updates use dnf-automatic-notifyonly.timer

# Whether updates should be downloaded when they are available, by
# dnf-automatic.timer. notifyonly.timer, download.timer and
# install.timer override this setting.
download_updates = {{ dnf_automatic_download_updates | default('yes') }}

# Whether updates should be applied when they are available, by
# dnf-automatic.timer. notifyonly.timer, download.timer and
# install.timer override this setting.
apply_updates = {{ dnf_automatic_apply_updates | default('no') }}


[emitters]
# Name to use for this system in messages that are emitted.  Default is the
# hostname.
{% if dnf_automatic_system_name is defined %}
system_name = {{ dnf_automatic_system_name }}
{% else %}
# system_name = my-host
{% endif %}

# How to send messages.  Valid options are stdio, email and motd.  If
# emit_via includes stdio, messages will be sent to stdout; this is useful
# to have cron send the messages.  If emit_via includes email, this
# program will send email itself according to the configured options.
# If emit_via includes motd, /etc/motd file will have the messages. if
# emit_via includes command_email, then messages will be send via a shell
# command compatible with sendmail.
# Default is email,stdio.
# If emit_via is None or left blank, no messages will be sent.
emit_via = {{ dnf_automatic_emit_via | default('stdio') }}


[email]
# The address to send email messages from.
email_from = {{ dnf_automatic_email_from | default('root@example.com') }}

# List of addresses to send messages to.
email_to = {{ dnf_automatic_email_to | default('root')}}

# Name of the host to connect to to send email messages.
email_host = {{ dnf_automatic_email_host | default('localhost') }}


[command]
# The shell command to execute. This is a Python format string, as used in
# str.format(). The format function will pass a shell-quoted argument called
# `body`.
{% if dnf_automatic_command_format is defined %}
command_format = {{ dnf_automatic_command_format }}
{% else %}
# command_format = "cat"
{% endif %}

# The contents of stdin to pass to the command. It is a format string with the
# same arguments as `command_format`.
{% if dnf_automatic_stdin_format is defined %}
stdin_format = {{ dnf_automatic_stdin_format }}
{% else %}
# stdin_format = "{body}"
{% endif %}


[command_email]
# The shell command to use to send email. This is a Python format string,
# as used in str.format(). The format function will pass shell-quoted arguments
# called body, subject, email_from, email_to.
# command_format = "mail -s {subject} -r {email_from} {email_to}"

# The contents of stdin to pass to the command. It is a format string with the
# same arguments as `command_format`.
# stdin_format = "{body}"

# The address to send email messages from.
email_from = {{ dnf_automatic_email_from | default('root@example.com') }}

# List of addresses to send messages to.
email_to = {{ dnf_automatic_email_to | default('root')}}


[base]
# This section overrides dnf.conf

# Use this to filter DNF core messages
debuglevel = 1
