#cloud-config

# Add users to the system. Users are added after groups are added.
users:
  - default

# Some default CentOS options
locale_configfile: /etc/sysconfig/i18n
mount_default_fields: [~, ~, 'auto', 'defaults,nofail', '0', '2']
resize_rootfs_tmp: /dev
ssh_deletekeys:  0
ssh_genkeytypes:  ~
syslog_fix_perms: ~

# disable ssh access as root.
# if you want to be able to ssh in to the system as the root user
# rather than as the 'ec2-user' user, then you must set this to false
# default: true
disable_root: true

# manage_etc_hosts
#   localhost:
#        cloud-init will generally own the 127.0.1.1 entry, and will
#        update it to the hostname and fqdn on every boot.  All other
#        entries will be left as is
# default: false
manage_etc_hosts: localhost

# set the locale to a given locale
locale: en_AU.UTF-8

# timezone: set the timezone for this instance
# the value of 'timezone' must exist in /usr/share/zoneinfo
timezone: Australia/Melbourne

# resize_rootfs should the / filesytem be resized on first boot
# this allows you to launch an instance with a larger disk / partition
# and have the instance automatically grow / to accomodate it
resize_rootfs: true

# only look for the EC2 data source
datasource_list: ['Ec2']

cloud_init_modules:
 - migrator
 - bootcmd
 - write-files
 - growpart
 - resizefs
 - set_hostname
 - update_hostname
 - update_etc_hosts
 - rsyslog
 - users-groups
 - ssh

cloud_config_modules:
 - mounts
 - ssh-import-id
 - locale
 - set-passwords
 - yum-add-repo
 - package-update-upgrade-install
 - timezone
 - disable-ec2-metadata
 - runcmd

cloud_final_modules:
 - rightscale_userdata
 - scripts-per-once
 - scripts-per-boot
 - scripts-per-instance
 - scripts-user
 - ssh-authkey-fingerprints
 - keys-to-console
 - phone-home
 - final-message

system_info:
  distro: rhel
  default_user:
    name: ec2-user
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    groups: [wheel, adml]
  paths:
    cloud_dir: /var/lib/cloud
    templates_dir: /etc/cloud/templates
  ssh_svcname: sshd

# vim:syntax=yaml
