---
- name: Add repository public keys (Percona)
  apt_key:
    id: 9334A25F8507EFA5
    keyserver: keyserver.ubuntu.com

- name: Add repositories (Percona)
  apt_repository:
    repo: "deb http://repo.percona.com/apt {{ ansible_distribution_release }} main"
    update_cache: yes

- name: Add repository public keys (MySQL)
  apt_key:
    id: 5072E1F5
    keyserver: keyserver.ubuntu.com

- name: Add repositories (MySQL)
  apt_repository:
    repo: "deb http://repo.mysql.com/apt/ubuntu/ {{ ansible_distribution_release }} mysql-8.0"
    update_cache: yes

- name: Install Percona Xtrabackup
  package:
    name: percona-xtrabackup-80
    state: present

- name: Set MySQL password
  shell: "{{ item }}"
  with_items:
    - 'echo "mysql-community-server mysql-community-server/root-pass password {{ trove_generated_password }}" | debconf-set-selections'
    - 'echo "mysql-community-server mysql-community-server/re-root-pass password {{ trove_generated_password }}" | debconf-set-selections'
    - 'echo "mysql-community-server mysql-server/default-auth-override string Use Legacy Authentication Method (Retain MySQL 5.x Compatibility)" | debconf-set-selections'

- name: Write MySQL password to security file
  copy:
    dest: /root/.mysql_secret
    content: "# The random password set for the root user at {{ ansible_date_time.date }} (local time): {{ trove_generated_password }}\n"

- name: Install mysql-server
  package:
    name: mysql-server
    state: present

- name: Write base MySQL config
  copy:
    src: "{{ ansible_distribution }}{{ ansible_distribution_major_version }}/my-8.0.cnf"
    dest: /etc/mysql/my.cnf

- name: Write base MySQL config
  copy:
    src: "{{ ansible_distribution }}{{ ansible_distribution_major_version }}/my-8.0.cnf"
    dest: /etc/mysql/mysql.cnf

- name: Get MySQL version
  shell: "mysqld --version | awk '{print $3}' | awk -F '-' '{print $1}'"
  register: mysql_version

- debug:
    msg: "mysql_version version is {{ mysql_version.stdout }}"
