---
- name: Add repository public keys (Percona)
  apt_key:
    id: 9334A25F8507EFA5
    keyserver: keyserver.ubuntu.com

- name: Add repositories (Percona)
  apt_repository:
    repo: "deb http://repo.percona.com/apt {{ ansible_distribution_release }} main"
    update_cache: yes

- name: Install Percona Xtrabackup
  package:
    name: percona-xtrabackup-24
    state: present

- name: Set MySQL password
  shell: "{{ item }}"
  with_items:
    - 'echo "mysql-server-5.7 mysql-server/root_password password {{ trove_generated_password }}" | debconf-set-selections'
    - 'echo "mysql-server-5.7 mysql-server/root_password_again password {{ trove_generated_password }}" | debconf-set-selections'

- name: Write MySQL password to security file
  copy:
    dest: /root/.mysql_secret
    content: "# The random password set for the root user at {{ ansible_date_time.date }} (local time): {{ trove_generated_password }}\n"

- name: Install mysql-server
  package:
    name: mysql-server
    state: present

- name: Remove any old mysql init scripts
  file:
    name: "{{ item }}"
    state: absent
  with_items:
    - /etc/init.d/mysql
    - /etc/init/mysql.conf

- name: Write base MySQL config
  copy:
    src: "{{ ansible_distribution }}{{ ansible_distribution_major_version }}/my.cnf"
    dest: /etc/mysql/my.cnf

- name: Replace MySQL start script
  copy:
    src: "{{ ansible_distribution }}{{ ansible_distribution_major_version }}/mysql-systemd-start"
    dest: /usr/share/mysql/mysql-systemd-start
    mode: 0755

- name: Set Trove image properties
  set_fact:
    nectar_image_property_datastore_name: MySQL
    nectar_image_property_datastore_type: mysql
    nectar_image_property_datastore_version: 5.7
