---
- name: Add apt-key for postgresql
  apt_key:
    url: "https://www.postgresql.org/media/keys/ACCC4CF8.asc"
    state: present
    validate_certs: False

- name: Add repositories
  apt_repository:
    repo: "deb http://apt.postgresql.org/pub/repos/apt/ {{ ansible_distribution_release }}-pgdg main"
    update_cache: yes

- name: Set Trove image properties
  set_fact:
    nectar_image_property_datastore_name: PostgreSQL
    nectar_image_property_datastore_type: postgresql
    nectar_image_property_datastore_version: "{{ datastore_version }}"

# We dont't add user/group when using vagrant as uid/gid clashes as extra users
# exist in the image

- name: Ensure group "postgres" exists
  group:
    name: postgres
    state: present
    gid: 117
    system: yes
  when: nectar_test_build | default(False) == False

- name: Ensure user "postgres" exists
  user:
    name: postgres
    shell: /bin/bash
    system: yes
    home: /var/lib/postgresql
    group: postgres
    uid: 111
    comment: 'PostgreSQL administrator'
  when: nectar_test_build | default(False) == False
