---
# https://posit.co/download/rstudio-server/
rstudio_server_version: 2026.01.0-392
rstudio_server_install: []

rstudio_server_www_port: 8787
rstudio_server_www_address: 0.0.0.0

# R-Studio package URLs always use jammy, even for noble
rstudio_server_distro: jammy
rstudio_server_package_url: "https://download2.rstudio.org/server/{{ rstudio_server_distro }}/amd64/rstudio-server-{{ rstudio_server_version }}-amd64.deb"
