# Build flavour
BUILD_FLAVOUR=m2.xsmall

# Whether to run the tests or not
RUN_TESTS=true

# Flavour to runs tests under (best with an ephemeral disk)
TEST_FLAVOUR=m1.small

# Nova keypair to use to run the tests
TEST_SSH_KEY=jenkins-image-testing

# An (optional) build property to add to the image
BUILD_PROPERTY=nectar_build

# Make the glance image public
MAKE_PUBLIC=false

# Name of your organisation, for prefixing to image names
ORGANISATION=NeCTAR

# URL where users can obtain support for the images
IMAGE_SUPPORT_URL='https://support.ehelp.edu.au/support/solutions/articles/6000106269-image-catalog'
