# File containing variables for packer (e.g. iso urls and checksums)
PACKER_VARS=variables-nectar.json

# Whether to run the tests or not
RUN_TESTS=true

# Nova keypair to use to run the tests
TEST_SSH_KEY=jenkins-image-testing

# Openstack user to build images as
IMAGEBUILDER_USERNAME=image-builder

# An (optional) build property to add to the image
BUILD_PROPERTY=nectar_build
