[Unit]
Description=Airflow Scheduler
After=network.target

[Service]
WorkingDirectory={{ airflow_home }}
Environment="AIRFLOW_HOME={{ airflow_home }}"
ExecStart={{ anaconda_link_dir }}/bin/airflow scheduler
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target