[core]
executor = SequentialExecutor

dags_folder = {{ airflow_home }}/dags
plugins_folder = {{ airflow_home }}/plugins
load_examples = True

[webserver]
web_server_port = {{ airflow_port }}
config_file = {{ airflow_home }}/webserver_config.py
base_url = http://localhost:{{ airflow_port }}/airflow
authenticate = True
auth_backends = airflow.api.auth.backend.default

[database]
sql_alchemy_conn = postgresql+psycopg2://{{ airflow_db_user }}:{{ airflow_db_password }}@{{ airflow_db_host }}/{{ airflow_db_name }}

[logging]
base_log_folder = {{ airflow_home }}/logs

[api]
auth_backends = airflow.api.auth.backend.default

[metrics]
statsd_on = True

[scheduler]
job_heartbeat_sec = 5
scheduler_heartbeat_sec = 5
min_file_process_interval = 30
dag_file_processor_timeout = 600
scheduler_health_check_threshold = 30
