from flask_appbuilder.security.manager import AUTH_DB

AUTH_TYPE = AUTH_DB

# Uncomment to setup Full admin role name
AUTH_ROLE_ADMIN = 'Admin'

# Uncomment and set to desired role to enable access without authentication
AUTH_ROLE_PUBLIC = 'Admin'
