---
openstack_version: juno
openstack_repo_mirror: 'http://vault.centos.org'

cloud_packages:
  - cloud-init
  - cloud-utils-growpart
  - heat-cfntools
  - curl
  - dracut-modules-growroot # centos 6 resizes in initramfs

distro: rhel

cloud_init_modules:
 - migrator
 - seed_random
 - bootcmd
 - write-files
 - growpart
 - resizefs
 - disk_setup
 - mounts
 - set_hostname
 - update_hostname
 - update_etc_hosts
 - ca-certs
 - rsyslog
 - users-groups
 - ssh

cloud_config_modules:
 - ssh-import-id
 - locale
 - set-passwords
 - yum-add-repo
 - timezone
 - disable-ec2-metadata
 - runcmd

cloud_final_modules:
 - package-update-upgrade-install
 - puppet
 - chef
 - salt-minion
 - mcollective
 - rightscale_userdata
 - scripts-vendor
 - scripts-per-once
 - scripts-per-boot
 - scripts-per-instance
 - scripts-user
 - ssh-authkey-fingerprints
 - keys-to-console
 - phone-home
 - final-message
 - power-state-change

user_groups:
  - adm
  - wheel

ssh_svcname: sshd
