# Install
install
cdrom

# Install from a friendly mirror and add updates
url --url=http://mirror.internode.on.net/pub/centos/5/os/x86_64/
repo --name=updates --baseurl=http://mirror.internode.on.net/pub/centos/5/updates/x86_64/

# Language and keyboard setup
lang en_AU.UTF-8
keyboard us

# Configure networking without IPv6, firewall off
network --bootproto=dhcp --device=eth0 --onboot=on
firewall --disabled

# Set timezone
timezone --utc UTC

# Authentication
rootpw b4dP4ssw0Rd
authconfig --enableshadow --passalgo=sha512

# SELinux disabled
selinux --disabled
firstboot --disable

# Disable anything graphical
skipx
text

# Setup the disk
zerombr
clearpart --initlabel --all
part / --size=1024 --grow --fstype ext3 --asprimary

# Bootloader
bootloader --location=mbr

services --enabled=acpid,ntpd,sshd,tuned
services --disabled=iptables,ip6tables

# Reboot to continue Packer setup
reboot

%packages --nobase
@core
openssh-server
openssh-clients
ntp
wget
telnet
nano
acpid
sudo
#%end

%post

# Remove unwanted packages we don't use to save up space
rpm -e $(rpm -qa | grep -i \\-firmware | grep -v kernel-firmware)

# Delete mirrorlist and force repo baseurl to our preferred mirror
sed -i -e '/^#\?mirrorlist.*/d' /etc/yum.repos.d/CentOS-Base.repo
sed -i -e 's,^#\?baseurl=.*releasever/\(.*\)/\$.*$,baseurl=http://mirror.aarnet.edu.au/pub/centos/$releasever/\1/$basearch,g' /etc/yum.repos.d/CentOS-Base.repo

# For cloud images, 'eth0' _is_ the predictable device name, since
# we don't want to be tied to specific virtual (!) hardware
rm -f /etc/udev/rules.d/70*
ln -sf /dev/null /etc/udev/rules.d/80-net-name-slot.rules
ln -sf /dev/null /etc/udev/rules.d/75-persistent-net-generator.rules

# simple eth0 config, again not hard-coded to the build hardware
cat > /etc/sysconfig/network-scripts/ifcfg-eth0 << EOF
DEVICE="eth0"
BOOTPROTO="dhcp"
ONBOOT="yes"
TYPE="Ethernet"
PERSISTENT_DHCLIENT="yes"
EOF

# Really disable selinux
cat > /etc/selinux/config << EOM
SELINUX=disabled
SELINUXTYPE=targeted
EOM

%end
