# Install, not upgrade
install

# Install from a friendly mirror and add updates
url --url=http://ftp.swin.edu.au/centos/7/os/x86_64/
repo --name=updates --baseurl=http://ftp.swin.edu.au/centos/7/updates/x86_64/
repo --name=epel --baseurl=http://ftp.swin.edu.au/epel/7/x86_64/

# Language and keyboard setup
lang en_AU.UTF-8
keyboard us

# Configure networking without IPv6, firewall off
network --bootproto=dhcp --device=eth0 --onboot=on
firewall --disabled

# Set timezone
timezone --utc UTC

# Authentication
rootpw --plain b4dP4ssw0Rd
authconfig --enableshadow --passalgo=sha512

# SELinux disabled
selinux --disabled

# Disable anything graphical
skipx
text
eula --agreed

# Setup the disk
zerombr
clearpart --initlabel --all
part / --size=1024 --grow --fstype ext4 --asprimary

# Bootloader
bootloader --location=mbr --append="elevator=noop net.ifnames=0 biosdevname=0"

# Reboot to continue Packer setup
reboot

# Minimal package set
%packages --nobase --excludedocs
acpid
authconfig
bind-utils
biosdevname
crontabs
dhclient
-iwl*
-libertas*
-logwatch
mailx
nano
ntp
ntpdate
openssh-clients
openssh-server
postfix
-prelink
rsync
sudo
telnet
tuned
wget
yum
yum-utils
-dracut-config-rescue
-plymouth
-fprintd-pam
-wireless-tools
-NetworkManager
-NetworkManager-tui
-*-firmware
%end

%post --erroronfail

# initscripts don't like this file to be missing.
cat > /etc/sysconfig/network << EOF
NETWORKING=yes
NOZEROCONF=yes
EOF

# Delete mirrorlist and force repo baseurl to our preferred mirror
sed -i -e '/^#\?mirrorlist.*/d' /etc/yum.repos.d/CentOS-Base.repo
sed -i -e 's,^#\?baseurl=.*releasever/\(.*\)/\$.*$,baseurl=http://ftp.swin.edu.au/centos/$releasever/\1/$basearch,g' /etc/yum.repos.d/CentOS-Base.repo

# For cloud images, 'eth0' _is_ the predictable device name, since
# we don't want to be tied to specific virtual (!) hardware
rm -f /etc/udev/rules.d/70*
ln -sf /dev/null /etc/udev/rules.d/80-net-name-slot.rules

# simple eth0 config, again not hard-coded to the build hardware
cat > /etc/sysconfig/network-scripts/ifcfg-eth0 << EOF
DEVICE="eth0"
BOOTPROTO="dhcp"
ONBOOT="yes"
TYPE="Ethernet"
PERSISTENT_DHCLIENT="yes"
EOF

# generic localhost names
cat > /etc/hosts << EOF
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

EOF
echo .

# since NetworkManager is disabled, need to enable normal networking
chkconfig network on

# remove unnecessary packages
yum -C -y remove linux-firmware

%end
