#### Contents of the preconfiguration file (for stretch)
### Localization
d-i debian-installer/locale string en_AU
d-i console-keymaps-at/keymap select us
d-i keyboard-configuration/xkb-keymap select us
d-i localechooser/supported-locales multiselect en_US.UTF-8

### Network configuration
d-i netcfg/choose_interface select auto

### Mirror settings
d-i mirror/protocol string http
d-i mirror/country string manual
d-i mirror/http/hostname string ftp.au.debian.org
d-i mirror/http/directory string /debian
d-i mirror/suite string jessie
d-i mirror/http/proxy string

### Account setup
d-i passwd/root-login boolean true
d-i passwd/make-user boolean false
d-i passwd/root-password password b4dP4ssw0Rd
d-i passwd/root-password-again password b4dP4ssw0Rd
d-i user-setup/allow-password-weak boolean true
d-i user-setup/password-weak boolean true

### Clock and time zone setup
d-i time/zone string UTC
d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server string au.pool.ntp.org

### Partitioning
d-i partman-auto/disk string /dev/vda
d-i partman-auto/method string regular
d-i partman-auto/expert_recipe string root :: \
500 10000 1000000 ext4 \
          $primary{ } \
      $bootable{ } \
      method{ format } \
      format{ } \
      use_filesystem{ } \
      filesystem{ ext4 } \
      mountpoint{ / } .

d-i partman-auto/choose_recipe select root
d-i partman-basicfilesystems/no_swap boolean false
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/mount_style select traditional
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string default

# Package selection
tasksel tasksel/first multiselect minimal
d-i pkgsel/include string openssh-server ntp python sudo
d-i pkgsel/upgrade select none
popularity-contest popularity-contest/participate boolean false

## Misc options
d-i netcfg/wireless_wep string
d-i finish-install/reboot_in_progress note

## Late command for Packer to auth as root with password
d-i preseed/late_command string \
    sed -i -e 's/^#\?PasswordAuthentication.*/PasswordAuthentication yes/g' /target/etc/ssh/sshd_config;\
    sed -i -e 's/^#\?PermitRootLogin.*/PermitRootLogin yes/g' /target/etc/ssh/sshd_config
