install
bootloader --location=mbr --append="console=tty0 console=ttyS0,115200n8 vga=788 consoleblank=0 net.ifnames=0 biosdevname=0 systemd.log_color=no"
network --bootproto=dhcp
url --url=http://mirror.aarnet.edu.au/pub/fedora/linux/releases/$releasever/Everything/$basearch/os/
lang en_AU.UTF-8
keyboard us
timezone --utc Etc/UTC
clearpart --all
part / --size=3072 --grow --fstype ext4 --asprimary
rootpw --plain not_a_real_password
selinux --disabled
services --enabled=sshd
reboot

%packages
kernel-core
@^cloud-server-environment
grubby
-cloud-init
-dracut-config-rescue
-biosdevname
-NetworkManager
-iprutils
-uboot-tools
-kernel
%end

%post --erroronfail

# setup systemd to boot to the right runlevel
rm -f /etc/systemd/system/default.target
ln -s /lib/systemd/system/multi-user.target /etc/systemd/system/default.target

# Remove firewalld; it is required to be present for install/image building.
# but we dont ship it in cloud
yum -C -y remove firewalld --setopt="clean_requirements_on_remove=1"

# although we want console output going to the serial console, we don't
# actually have the opportunity to login there. FIX.
# we don't really need to auto-spawn _any_ gettys.
sed -i '/^#NAutoVTs=.*/ a\
NAutoVTs=0' /etc/systemd/logind.conf

# For cloud images, 'eth0' _is_ the predictable device name, since
# we don't want to be tied to specific virtual (!) hardware
ln -s /dev/null /etc/udev/rules.d/70-persistent-net.rules
ln -s /dev/null /etc/udev/rules.d/80-net-setup-link.rules

# simple systemd network script for DHCP on all eth interfaces
cat >  /etc/systemd/network/dhcp.network << EOF
[Match]
Name=eth*
[Network]
DHCP=ipv4
EOF

systemctl enable systemd-networkd.service

# generic localhost names
cat > /etc/hosts << EOF
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

EOF

# Because memory is scarce resource in most cloud/virt environments,
# and because this impedes forensics, we are differing from the Fedora
# default of having /tmp on tmpfs.
systemctl mask tmp.mount

# make sure firstboot doesn't start
echo "RUN_FIRSTBOOT=NO" > /etc/sysconfig/firstboot

# Removing random-seed so it's not the same in every image
rm -f /var/lib/random-seed

# Clean old yum repodata
yum history new
yum clean all
truncate -c -s 0 /var/log/yum.log

%end
