---
openstack_repo: "http://mirror.centos.org/centos/{{ ansible_distribution_major_version }}/cloud/x86_64/openstack-rocky/"

cloud_init_packages:
  - cloud-init
  - cloud-utils-growpart

distro: rhel

cloud_init_modules:
 - migrator
 - seed_random
 - bootcmd
 - write-files
 - growpart
 - resizefs
 - disk_setup
 - mounts
 - set_hostname
 - update_hostname
 - update_etc_hosts
 - ca-certs
 - rsyslog
 - users-groups
 - ssh

cloud_init_config_modules:
 - ssh-import-id
 - locale
 - set-passwords
 - yum-add-repo
 - ntp
 - timezone
 - disable-ec2-metadata
 - runcmd

cloud_init_final_modules:
 - package-update-upgrade-install
 - puppet
 - chef
 - salt-minion
 - mcollective
 - rightscale_userdata
 - scripts-vendor
 - scripts-per-once
 - scripts-per-boot
 - scripts-per-instance
 - scripts-user
 - ssh-authkey-fingerprints
 - keys-to-console
 - phone-home
 - final-message
 - power-state-change

user_groups:
  - adm
  - wheel

ssh_svcname: sshd
