[Unit]
Description=OpenStack Murano Agent

[Service]
Type=simple
ExecStart=/usr/bin/muranoagent --config-dir=/etc/murano-agent --config-file=/etc/murano-agent/muranoagent.conf --log-file=/var/log/murano-agent.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
