---
- name: Install fail2ban packages
  package:
    name: "{{ item }}"
  with_items:
    - fail2ban
    - ed

- name: Install fail2ban jail.local
  copy:
    src: Debian7/jail.local
    dest: /etc/fail2ban/jail.local
