# Based on the upstream cloud image kickstart
# https://pagure.io/fedora-kickstarts/blob/main/f/fedora-cloud-base.ks

text
lang en_AU.UTF-8
keyboard us
timezone --utc Etc/UTC

rootpw --lock --iscrypted locked

selinux --permissive
firewall --disabled

bootloader --timeout=1 --append="no_timer_check net.ifnames=0 console=tty0 console=ttyS0 vga=788 consoleblank=0 systemd.log_color=no"

network --bootproto=dhcp --device=eth0 --onboot=on --activate
services --enabled=sshd

zerombr
clearpart --all
autopart --type=plain --fstype=ext4

url --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?country=AU&repo=fedora-$releasever&arch=$basearch
repo --name=fedora --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?country=AU&repo=fedora-$releasever&arch=$basearch
repo --name=updates --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?country=AU&repo=updates-released-f$releasever&arch=$basearch

reboot

%packages --inst-langs=en
@^cloud-server-environment
-kernel
kernel-core
-dracut-config-rescue
-plymouth
-firewalld
-zram-generator-defaults
-geolite2-country
-geolite2-city
%end

%post --erroronfail

# Install our SSH key for packer
mkdir -m0700 /root/.ssh/
echo "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDrBPobebA5Bn6b2jW6OxeZqbi9F1l5GyDsokDHzJ745 packer" > /root/.ssh/authorized_keys
chmod 0600 /root/.ssh/authorized_keys
restorecon -R /root/.ssh/

# this is installed by default but we don't need it in virt
echo "Removing linux-firmware package."
rpm -e linux-firmware

echo "Import RPM GPG key"
releasever=$(rpm -q --qf '%{version}\n' fedora-release)
basearch=$(uname -i)
rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-fedora-$releasever-$basearch

echo "Cleanup leftover networking configuration"
rm -f /etc/NetworkManager/system-connections/*.nmconnection

%end
