#!/bin/sh
. /etc/os-release

echo "--------------------------------------------------------------------------------"
echo "{{ organisation_name }} $NAME $VERSION"
echo ""
echo "Image details and information is available at:"
echo "  {{ support_url }}"
echo "--------------------------------------------------------------------------------"
