
--------------------------------------------------------------------------------
{{ organisation_name }} {{ distro_label }}

Image details and information is available at:
  {{ support_url }}
  
--------------------------------------------------------------------------------

