#!/bin/sh

#
# NVIDIA GRID (vGPU) driver setup script for ARDC Nectar Research Cloud
#
# Andy Botting <andy.botting@ardc.edu.au>
#

TOKEN_PATH="{{ nvidia_grid_client_config_token_path }}"
TOKEN_FILE="$TOKEN_PATH/{{ nvidia_grid_token_filename }}"
VENDORDATA_URL="{{ nvidia_grid_vendordata_url }}"
VENDORDATA_JSON_PATH='{{ nvidia_grid_token_json_path }}'

log () {
        echo "$@" >&2;
}

log "Fetching license token..."
if token=$(curl -s -S -f $VENDORDATA_URL | jq -j -e $VENDORDATA_JSON_PATH); then
        mkdir -p $TOKEN_PATH
        echo "$token" | base64 -d > $TOKEN_FILE
        md5sum=$(md5sum $TOKEN_FILE | cut -d' ' -f1)
        log "Successfully fetched license token ($md5sum)"
else
        log "ERROR: License token not found in vendor data. Please contact support."
fi
