# See https://docs.nvidia.com/cuda/cuda-installation-guide-linux/#environment-setup
export PATH={{ nvidia_cuda_install_path }}/bin${PATH:+:${PATH}}
export LD_LIBRARY_PATH={{ nvidia_cuda_install_path }}/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}
