---
- hosts: all
  become: yes
  gather_facts: yes

  vars_files:
    - vars/main.yml

  roles:
    - role: image-name
    - role: default-user
    - role: systemd-networkd
      when: ansible_distribution_major_version >= '17'
    - role: repos
    - role: cloud-init
    - role: ntp
    - role: jenkins
    - role: docker
      when: ansible_distribution_major_version >= '18'
    - role: cleanup
