# tasks file for r
---
- name: repository | add public key
  apt_key:
    id: E298A3A825C0D65DFD57CBB651716619E084DAB9
    keyserver: keyserver.ubuntu.com
    state: present

- name: repository | add cran-r
  apt_repository:
    repo: "deb {{ r_repository }}"
    state: present
    update_cache: true

# Add r2u repo for deb packages for R modules. NOTE: c2d4u is no longer being updated
- name: Download cranapt repository signing key
  get_url:
    url: https://eddelbuettel.github.io/r2u/assets/dirk_eddelbuettel_key.asc
    dest: /usr/share/keyrings/cranapt-archive-keyring.asc
    mode: '0644'

- name: Add cranapt (r2u) apt repository
  apt_repository:
    repo: deb [arch=amd64 signed-by=/usr/share/keyrings/cranapt-archive-keyring.asc] https://r2u.stat.illinois.edu/ubuntu noble main
    filename: cranapt
    state: present
    update_cache: yes
